# Node Modules
node_modules/

# Security & Env
.env
.env.*
!.env.example
*.pem

# BACKEND HIDE KRNA HAI (Security)
backend/

# Next.js
.next/
out/

# Build
build/
dist/

# Deployment Zips (Faltu space na le)
*.zip
*.tar.gz
*.rar

# Misc
.DS_Store
Thumbs.db
*.tsbuildinfo
next-env.d.ts

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Vercel
.vscode/
.idea/
.vercel